<div class="center jumbotron">
<h1>Welcome to the Mapping Micro-plastics App</h1>

<h2>This is the home page for the mapping micro-plastics application.</h2>

<%= link_to 'Sign up now!', signup_path, class: "btn btn-lg btn-primary" %>
</div>
