<% provide(:title, t('.title')) %>
<h1><%= yield(:title) %></h1>
<p>
  海洋マイクロプラスチックは、深刻な世界的な環境問題になっています。
  このアプリはマイクロプラスチックの分布を地図上に可視化します。
</p>
<p>
  2017年6月5-9日にニューヨークで開催された国連海洋会議の<a href="https://oceanconference.un.org/commitments/?id=18190">ボランタリー・コミットメント</a>をご覧ください。
</p>
