<% provide(:title, t('.title')) %>
<h1><%= yield(:title) %></h1>
<p>
  Micro-plasticspollution in oceans has become serious global environmental issues.
  This app visializing micro-plastic distribution on the map.
</p>
<p>
  See, <a href="https://oceanconference.un.org/commitments/?id=18190">voluntary commitment</a> for the Ocean Conference, United Nations, New York, 5-9 June 2017.
</p>
