<% provide(:title, t('.title')) %>
<h1><%= yield(:title) %></h1>
<p>
  Contact the Mapping Micro-plastics app at the
  <a href="https://akokubo.github.io/contact/">contact page for the author</a>.
</p>
