<% provide(:title, t('.title')) %>
<h1><%= yield(:title) %></h1>
<p>
  Get help on the Micro-plastics Map App from 
  <a href="https://akokubo.github.io/contact/">the contact page of the author</a>.
</p>
