<div id="map"></div>
<script src="/google-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3igLoXPMmVDozoUpdWh2BVvoXR0alB0w&amp;callback=initMap" async defer></script>
