/* bootstrap customize variables */

$dark-primary-color: #1976d2;
$light-primary-color: #bbdefb;
$primary-color: #2196f3;
$text-icons-color: #fff;
$accent-color: #ffc107;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;

$gray-base: $primary-text;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Hiragino Mincho ProN", 游明朝, "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$navbar-default-color: $primary-text;
$navbar-default-bg: $divider-color;
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-default-link-color: #777;
$navbar-default-link-hover-color: #333;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: #555;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color: #ccc;
$navbar-default-link-disabled-bg: transparent;
$navbar-default-brand-color: $navbar-default-link-color;
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg: transparent;
$navbar-default-toggle-hover-bg: #ddd;
$navbar-default-toggle-icon-bar-bg: #888;
$navbar-default-toggle-border-color: #ddd;

$navbar-inverse-color: lighten($light-primary-color, 15%);
$navbar-inverse-bg: $primary-color;
$navbar-inverse-border: darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-color: lighten($light-primary-color, 15%);
$navbar-inverse-link-hover-color: #fff;
$navbar-inverse-link-hover-bg: transparent;
$navbar-inverse-link-active-color: $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg: darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color: #444;
$navbar-inverse-link-disabled-bg: transparent;
$navbar-inverse-brand-color: $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color: #fff;
$navbar-inverse-brand-hover-bg: transparent;
$navbar-inverse-toggle-hover-bg: #333;
$navbar-inverse-toggle-icon-bar-bg: #fff;
$navbar-inverse-toggle-border-color: #333;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

/* mixins, variables, etc. */

/*
$gray-medium-light: #eaeaea;
*/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

/*
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
*/

/* typography */

/*
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
*/

/* header */

/*
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
*/

/* footer */

/*
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $secondary-text;
  a {
    color: $primary-text;
    &:hover {
      color: darken($primary-text, 6.5%);
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
*/

/* miscellaneous */

.debug_dump {
  display: none;
  position: fixed;
  bottom: 50px;
  clear: both;
  float: left;
  width: 100%;
  height: 130px;
  overflow: scroll;
  @include box_sizing;
}

/* sidebar */

/*
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

*/
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* places */

.places {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

/*
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
*/

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* infinite scroll */

#infinite-scrolling .pagination {
  display: none;
}

#loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#main {
    padding: 60px 0 120px;
}

#main.map {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#map {
    flex: 1;
}

footer {
    background-color: #f5f5f5;
}

footer.navbar {
    border-top: 1px solid #eee;
}

footer .navbar-text {
    font-size: smaller;
}

footer ul.md-ul {
    display: none;
}

footer div.xs-row {
    display: block;
    a.col-xs-6 {
        display: block;
        border: 1px solid $divider-color;
        text-align: center;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            background-color: $divider-color;
        }
    }
}

/* PC用 */
@media (min-width: $screen-sm-min) {
    #main {
        padding: 60px 0 80px;
    }

    footer .navbar-text {
        font-size: small;
    }

    footer ul.md-ul {
        display: block;
    }

    footer div.xs-row {
        display: none;
    }
}
